body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  nav {
    background-color: gray;
    height: 50px;
  }

  .main {
    /* border: 1px solid red; */
    /* height: 101px; */
    display: flex;
    justify-content: space-around;
 }


 .main .left {
    flex-basis: 60%;
 }

 .main .right {
    flex-basis: 30%;
 }

 .left .capitalbox {
    display: flex;
    justify-content: flex-start;
    column-gap: 6px;
 }

 .box {
    /* border: 1px solid red; */
    width: 124px;
    height: 31px;
 }
 .capitalbox .box1 {
    background-color: #808080;
 }
 .capitalbox .box2 {
    background-color: #cdc6c6;
 }
 .capitalbox .box3 {
    background-color: #cdc6c6;
 }

 .capitalbox2 {
    width: 100%;
    height: 207px;
    background-color: #808080;
    margin-bottom: 20px;

 }

 .item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 166px;
 }
 .item-list .item {
    height: 108px;
    background-color: #cdc6c6;
    display: inline-flex;
    flex-basis: 17%;

 }
 .item-list .item p {
 position: relative;
    top: 85%;
    padding: 10px;
    min-width: 92%;
    min-height: 148px;
    font-size: 14px;
 }

 /* end of left side -------------------------------- */

 .right .minibox {
    display: flex;
    justify-content: flex-end;
    column-gap: 6px;
    margin-bottom: 4px;

 }
 .right .minibox .box {
    width: 27px;
    height: 27px;
    background-color: #cdc6c6;
 }

 .right .capitalbox3 {
    display: flex;
    height: 204px;
    background-color: #b8b1b1;
    margin-bottom: 20px;
 }

 .right .longbox {
    display: flex;
    height: 29px;
    background-color: #b8b1b1;
 }

 .right .item-list1 {
    display: flex;
    justify-content: space-around;
    row-gap: 121px;
    flex-direction: column;
    margin-top: 20px;

 }

 .right .item-list1 .item1 {
    height: 108px;
    background-color: #cdc6c6;
    width: 37%;
    display: inline-flex;

 }

 .item-list1 .item1 p {
    position: relative;
    bottom: 12%;
    min-width: 223px;
    font-size: 14px;
    left: 100%;
    margin: 10px;
    }